#navigation-bar {
    background-color:#97DEFF;
}


#navigation-bar {
    color:white;
    font-family:"poppins";
}

#navigation-bar.dropdown.menu {
    background-color:#99EAB9;
}


#navigation-bar .dropdown-menu a:hover {
color:black;
}

#navigation-bar .nav a {
    font-size: 1.5rem;
}

.contact-info {
    margin-top: 20px;
    padding: 20px;
    background-color: #F9F5EB;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-info h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .contact-info p {
    margin-bottom: 5px;
  }
  



.footer {
    background-image: linear-gradient(#22577a, #99EAB9);
    padding: 70px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}


.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #020202;
    padding-left: 8px;
}



@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }

}


 






